<div class="widget-wrap">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget">
        <ul>
            <li>
                <a href="https://me.csdn.net/blog/zwgdft" title="同事大B哥博客">Mr-Bruce</a>
            </li>
        </ul>
    </div>
</div>
